#holiday_event {
  max-width: 1000px;
  margin: 0 auto;
}
#holiday_event img {
  width: 100%;
}

#ev_sec3 {
  position: relative;
  min-height: 1000px;
}

#giftbox_event_wrap .gift_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

#giftbox_event_wrap .f_d_column {
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#giftbox_event_wrap .a_i_center {
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#giftbox_event_wrap .j_c_center {
  -webkit-box-pack: center;
  -moz-box-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#giftbox_event_wrap .j_c_flexStart {
  -webkit-box-pack: start;
  -moz-box-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#giftbox_event_wrap .j_c_spaceBetween {
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  /* justify-content: space-between; */
  justify-content: center;
}

#giftbox_event_wrap,
#giftbox_event_logoff {
  width: 100%;
  /* height: 150px; */
  position: absolute;
  bottom: 35%;
}

#giftbox_event_wrap img {
  display: block;
  border: 0;
  width: 100%;
}

#giftbox_event_wrap #event_fade {
  display: none;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 150;
}
#giftbox_event_logoff a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#giftbox_event_logoff a,
#giftbox_event_wrap .event_start,
#giftbox_event_wrap .event_end {
  background-color: #2b5348;
  height: 120px;
  margin: 0 auto;
  width: 550px;
  color: #fff;
  text-align: center;
  font-size: 30px;
  border: 3px dashed #fff;
  font-family: "HGSoftGGothicssi";
  font-weight: 600;
  border-radius: 45px;
}
#giftbox_event_logoff p {
  font-family: "HGSoftGGothicssi";
}
#giftbox_event_logoff p strong {
  font-family: "HGSoftGGothicssi";
  font-weight: 600;
  color: #edce8b;
}
#giftbox_event_logoff a span {
  font-size: 20px;
  display: block;
  font-weight: 200;
  margin-bottom: 5px;
}
#giftbox_event_logoff span > strong {
  font-family: inherit;
  font-weight: bold;
  color: #fff;
}
#giftbox_event_wrap .event_start,
#giftbox_event_wrap .event_end {
  line-height: 115px;
}
#giftbox_event_wrap .event_area {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 35%);
}

#giftbox_event_wrap .event_start,
#giftbox_event_wrap .event_end,
#giftbox_event_logoff a {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 100%);
}

#giftbox_event_wrap .event_area {
  width: 100%;
  display: none;
}

#giftbox_event_wrap .event_start {
  /* width: 65%; */
  cursor: pointer;
  display: block;
  z-index: 9;
}

#giftbox_event_wrap .event_end {
  display: none;
}

#giftbox_event_wrap .event_box {
  width: 30%;
  cursor: pointer;
  border: 0;
  opacity: 0;
  background: transparent;
}

#giftbox_event_wrap .event_box img {
  width: 100%;
}

#giftbox_event_wrap .box1_move {
  animation: loading_move 1.2s ease-in-out 1 forwards;
}

#giftbox_event_wrap .box2_move {
  animation: loading_move 1.2s ease-in-out 0.4s 1 forwards;
}

#giftbox_event_wrap .box3_move {
  animation: loading_move 1.2s ease-in-out 0.8s 1 forwards;
}

@keyframes loading_move {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }

  60% {
    -webkit-transform: translateY(20%) scale(1.1);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
  }
}

#giftbox_event_wrap .box_hover_move {
  animation: hover_move 1s ease-in-out infinite forwards;
}

@keyframes hover_move {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
    opacity: 1;
  }

  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }

  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }

  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    opacity: 1;
  }
}

#giftbox_event_wrap .popup_move {
  animation: popup_motion 0.7s ease-in-out 1 alternate forwards;
  transform-origin: 0% 0%;
}

@keyframes popup_motion {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }

  70% {
    transform: scale(1.1) translate(-50%, -50%);
  }

  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

#giftbox_event_wrap .result_popup {
  /* width: 30%; */
  width: 500px;
  background-color: #2b5348;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 160;
  text-align: center;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 0 0 20px;
  box-sizing: border-box;
}

#giftbox_event_wrap .result_img {
  width: 90%;
  margin: 20px auto 0;
}
#giftbox_event_wrap .alert_img {
  width: 40%;
  position: relative;
  margin-left: 6%;
  color: #2b5348;
  background-color: #eee;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  animation: bounce 2s infinite alternate;
}
#giftbox_event_wrap .alert_img div {
  font-weight: 600;
  font-family: "HGSoftGGothicssi";
}
#giftbox_event_wrap .alert_img .polygon {
  position: absolute;
  bottom: -14px;
  left: 14px;
  width: 0px;
  height: 0px;
  border-top: 22px solid #eee;
  border-left: 16px solid transparent;
  border-right: 0px solid transparent;
}
/*bounce 애니메이션*/
@keyframes bounce {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 0px;
  }
}
#giftbox_event_wrap .popup_close,
#giftbox_event_wrap .c_download {
  width: 49%;
  height: 46px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  line-height: 42px;
  margin-top: 10px;
  cursor: pointer;
  color: #fff;
}
#giftbox_event_wrap .result_btn_wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

#giftbox_event_wrap .c_download {
  background: #fff;
  color: #2b5348;
}
.event_caution {
  background-color: #f0f0f0;
  padding: 60px 40px;
  font-size: 16px;
}
.event_caution p {
  font-weight: 800;
  font-family: "HGSoftGGothicssi";
  font-size: 21px;
  margin-bottom: 5px;
}
.event_caution p:last-of-type {
  margin-top: 30px;
}
